* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
  /* 150% of font-size */
}

.r-btn {
  padding: 5px 20px;
  background-color: orange !important;
  color: #fff !important;
}

::selection {
  background-color: #ee8683;
  color: #fff;
  /* text-shadow: 4px 2px 2px #FFFD3A; */
}

.r-p {
  padding-top: 80px;
  padding-bottom: 80px;
}
.content-mg {
  margin: 10px 0;
}
.content-box * + * {
  margin: 20px 0;
}
.btn1 {
  display: inline-block;
  font-weight: 400;
  color: black;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.4;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.dropdown-item1{
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color:black;
  
  white-space: nowrap;
  text-align:inherit;
  border: 0;
  list-style: none;
}
.dropdown-item1:hover, .dropdown-item1:focus {
  color: orange;
  text-decoration: none;
  background-color: #f8f9fa;
  list-style: none;
}

.dropdown-item1.active, .dropdown-item1:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

.dropdown-item1.disabled, .dropdown-item1:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}
.bg-sec {
  background: #f8f9fa;
}
.title-box {
  max-width: 600px;
  text-align: center;
}

/* Preloader */
/* .preloader{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: red;
  z-index: 99998;
} */

.preloader:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #000;
  transition: 1s;
}
.preloader:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: #000;
  transition: 1s;
}

.preloader.complete:before {
  bottom: -50%;
}
.preloader.complete:after {
  top: -50%;
}

.preloader.complete {
  visibility: hidden;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.1);
  border-top: 10px solid #ee8683;
  animation: animate 1.5s infinite linear;
  z-index: 99999;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Navigation---------------------------------------------------------------------------- */
nav .navbar-brand {
  font-size: 30px;
  color: #fff;
  transition: 0.5s all;
}
.img1{
  width: 120px;
}
.img2{
  width: 30%;
  height: 400px;
  float: left;


}
.profel{
  /* background-color: orange; */
  height: 400px;
  border-radius: 25px;
  border: 2px solid orange;
  


}

.a1:hover{
  color: #e65f78;
}
nav .navbar-nav li {
  margin-left: 15px;
}
.h4:hover{
color: rgb(54, 140, 211);

}
nav .navbar-nav li a {
  color: orange !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}
nav.r-nav {
  background: transparent;
  padding: 20px 0px;
  transition: 0.5s all;
}
.container1{
  background-color: #333333;
  width: 100%;
}

nav.r-nav.stickyadd {
  background: #fff !important;
  padding: 1px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
  /* border: 1px solid orange; */
}
nav.stickyadd .navbar-brand {
  color: #000;
  font-size: 40px;
  transition: 0.5s all;
}
nav.stickyadd .navbar-nav .nav-link {
  color: #000 !important;
}
.navbar .hamburger {
  color: #fff;
}
nav.stickyadd .hamburger {
  color: #000;
}

nav *,
header * {
  animation-delay: 0.5s;
}

/* ---------- */

/* Header -----------------------------------------------------------------------*/
header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pngegg(4).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 0.1px solid rgb(106, 145, 252);
  z-index: -1;
  
  
  
}
.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-box {
  max-width: 700px;
  color: #fff;
}
.content-box h4 span {
  font-size: 30px;
}
.content-box h1 {
  font-size: 52px;
}
.content-box a {
  color: #fff;
  text-decoration: none;
  border: 2px solid orange;
  border-radius: 20px;
  padding: 5px 25px;
}
.content-box p {
  color: #fff;
}
.content-box a:hover {
  color: #000;
  background: orange;
  transition: 0.5s all;
}

/* About Us */

.about li a {
  color: #000;
  display: inline-block;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #d4d4d4;
  line-height: 40px;
  transition: 0.5s all;
  text-align: center;
}

.about li a:hover {
  color: orange;
}
section .profel .model{
  font-size: 15px;
margin-right: 10px;  
color: orange;
}

/* Experience ---------------------------------------------------------*/
.experience .progress {
  height: 10px;
  border-radius: 20px;
  font-size: 10px;
}

.progress-color {
  background-color: #6e59e6 !important;
}
.experience label {
  font-size: 20px;
  margin: 10px;
}

/* Service */

.card,
.card-header {
  background: #f8f9fa !important;
}

.card-header {
  border: none !important;
}

.services .card-header i {
  font-size: 50px;
}
.service-border {
  height: 2px;
  width: 40px;
  margin: 15px auto;
  background: black;
  transition: 0.5s all;

}
.div1 h5:hover + .service-border 
{
  width: 100px;
}
.profel h4:hover + .service-border {
  width: 100px;

}


.services p {
  font-size: 16px;
}
.btn span{
  font-size: large;

}

.services .btn:hover {
  color: #000000 !important;
  background: #eee !important;
}

/* Testimony */

.testimony .test-item {
  max-width: 500px;
  margin: 50px auto;
}
.testimony .test-item .test-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.testimony .test-item i {
  color: grey;
}

.test-item p.test-name {
  font-size: 11px;
}

/* Work */
.work .card-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* Contact */
.contact .r-icon {
  font-size: 50px;
  text-align: center;
}

/* footer */
footer {
  height: 700px;
  background-color: #333333;
}
footer .r-icon a {
  font-size: 20px;
  color: #848484;
  padding: 10px;
  border: 1px solid #848484;
  border-radius: 50%;
}
footer .r-icon a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: 0.5s all;
}
/* Media-------------------------------------------------------------------------------- */
@media (min-width: 200px) and (max-width: 768px) {
  .r-nav {
    background: #fff !important;
  }
  .r-nav .container {
    width: 85%;
  }
  nav .navbar-brand {
    font-size: 30px;
    color: #000;
  }
  .navbar .hamburger {
    color: #000;
  }
  nav .navbar-nav .nav-link {
    color: #000 !important;
  }

  .content-box h1 {
    font-size: 30px;
  }
  .content-box p {
    font-size: 16px;
  }
  header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/pngegg(4).png");
    background-repeat: repeat;
    background-size: cover;
    background-position: -700px 0;
  }
}
.class1{
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 40%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-align: justify;
}